<div class="container">
	<div class="card">
		<h5 class="order-title">Order Summary</h5>
			<div class="row" >
				<div class="col-md-4" >
					<img src="./assets/india.jpg" class="img-fluid" alt="Loading...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Bare Foot</h5>
						<p class="card-text">by Amol Ghotale</p>
						<p class="card-price">RS.200</p>
					</div>
				</div>
			</div> 
			<button routerLink="/customerDetails" type="button" class="checkout" >Continue</button> 
			<button routerLink="/cart" type="button" class="back" >Back</button> 
	</div>
</div>
