<div class="container">
  
    <div class="sort-ways">
        <div class="item-name">
            <h5>Books</h5>
        </div>
   
    <input type="text" class="search" placeholder="  search books..." name="search" >
   
    <div class="sort-book">
       <select class="sortby" >
            <option selected value="Relevance">Sort By Relevance</option>
            <option value="Ascending">Price:Low to High</option>
            <option value="Descending">Price:High to Low</option>
        </select>
    </div>

    <img routerLink="/cart" src="../../assets/cart1.jpg" alt="cart image is loading..." 
    class="cart-image">

    </div>

	<div class="book-container">

      <div class="card card-container" >
        <div class="book-image">
            <img src="../../assets/football.jpg" class="card-img-top" alt="Book Image is loading...">    
        </div>

      <div class="card-body">
        <h5 class="card-title">Everything Soccer</h5>
        <p class="card-text">by Amol Ghotale</p>
        <p class="card-price">RS. 100</p>

        <div class="button-container" >    
            <button type="button" class="button" >Add to Cart</button>       
        </div>
      </div>
      </div>

	  	<div class="card card-container" >
			<div class="book-image">
					<img src="../../assets/ronaldo.jpg" class="card-img-top" alt="Book Image is loading...">    
			</div>

	  	<div class="card-body">
			<h5 class="card-title">Ronaldo CR7</h5>
			<p class="card-text">by Amol Ghotale</p>
			<p class="card-price">RS. 200</p>

			<div class="button-container" >    
					<button type="button" class="button" >Add to Cart</button>       
			</div>
		  </div>
	  </div>

	<div class="card card-container" >
		<div class="book-image">
				<img src="../../assets/messi.jpg" class="card-img-top" alt="Book Image is loading...">    
		</div>

	<div class="card-body">
		<h5 class="card-title">Immessionate 10</h5>
		<p class="card-text">by Amol Ghotale</p>
		<p class="card-price">RS. 250</p>

		<div class="button-container" >    
				<button type="button" class="button" >Add to Cart</button>       
		</div>
	</div>
</div>

<div class="card card-container" >
	<div class="book-image">
			<img src="../../assets/puyol.jpg" class="card-img-top" alt="Book Image is loading...">    
	</div>

<div class="card-body">
	<h5 class="card-title">The Lion 5</h5>
	<p class="card-text">by Amol Ghotale</p>
	<p class="card-price">RS. 300</p>

	<div class="button-container" >    
			<button type="button" class="button" >Add to Cart</button>       
	</div>
</div>
</div>

<div class="card card-container" >
	<div class="book-image">
			<img src="../../assets/fitness.jpg" class="card-img-top" alt="Book Image is loading...">    
	</div>

<div class="card-body">
	<h5 class="card-title">The Fitness World</h5>
	<p class="card-text">by Amol Ghotale</p>
	<p class="card-price">RS. 150</p>

	<div class="button-container" >    
			<button type="button" class="button" >Add to Cart</button>       
	</div>
</div>
</div>

<div class="card card-container" >
	<div class="book-image">
			<img src="../../assets/sunil.png" class="card-img-top" alt="Book Image is loading...">    
	</div>

<div class="card-body">
	<h5 class="card-title">Legend Chhetri</h5>
	<p class="card-text">by Amol Ghotale</p>
	<p class="card-price">RS. 500</p>

	<div class="button-container" >    
			<button type="button" class="button" >Add to Cart</button>       
	</div>
</div>
</div>

<div class="card card-container" >
	<div class="book-image">
			<img src="../../assets/india.jpg" class="card-img-top" alt="Book Image is loading...">    
	</div>

<div class="card-body">
	<h5 class="card-title">Bare Foots</h5>
	<p class="card-text">by Amol Ghotale</p>
	<p class="card-price">RS. 200</p>

	<div class="button-container" >    
			<button type="button" class="button" >Add to Cart</button>       
	</div>
</div>
</div>

<div class="card card-container" >
	<div class="book-image">
			<img src="../../assets/home.jpg" class="card-img-top" alt="Book Image is loading...">    
	</div>

<div class="card-body">
	<h5 class="card-title">Home Workouts</h5>
	<p class="card-text">by Amol Ghotale</p>
	<p class="card-price">RS. 300</p>

	<div class="button-container" >    
			<button type="button" class="button" >Add to Cart</button>       
	</div>
</div>
</div>



	</div>

</div>

